.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

body {
  padding-bottom: 80px;
  text-align: center;
}

h1 {
font-family: verdana;
color: green;
text-align: center;
border: 5px solid green;
}

h2 {
font-family: verdana;
color: green;
text-align: center;
}

p {
font-family: verdana;
text-align: left;
}