.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

body {
  padding-bottom: 80px;
  text-align: center;
  background-color: whitesmoke;
}

h1 {
font-family: arial black;
color: darkred;
text-align: center;
padding: 10px;
}

h2 {
font-family: arial black;
color: darkred;
text-align: center;
padding: 20px;
}

p {
font-family: arial;
text-align: left;
padding: 10px;
}