.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

